{% extends 'base.html.twig' %}

{% block title %} Garage - Home {% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5">Nos derniers modéles</h1>
    <hr class="bg-light">
    <div class="last-box row align-items-center justify-content-center">
        {% for car in cars %}
            {% include 'catalogue/_car.html.twig' %}
        {% endfor %}
    </div>
    <hr class="bg-light">
    <div class="row align-items-center justify-content-center info" id="info">
        <div class="col-md-6 h-100">
            <img class="img-fluid info-img" src="{{ asset('images/man-mechanic-and-woman-customer-look-at-the-car-hood-and-discuss-repairs.jpg') }}" alt="">
        </div>
        <div class="col-md-6 h-100">
            <h1>Notre <strong class="text-danger">garage</strong></h1>
            <p class="mt-3 mb-3 text-justify">{{ about.0.description }}</p>
            <a href="{{ path('catalogue') }}" class="info-btn btn btn-warning">Notre catalogue</a>
        </div>
    </div>
</div>
{% endblock %}
