{% extends 'base.html.twig' %}

{% block title %}Garage - catalogue{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Notre catalogue : </h1>
    <hr class="bg-light">
    <div class="last-box row justify-content-center">
    {% for car in cars %}
        {% include 'catalogue/_car.html.twig' %}
    {% endfor %} 
    </div>  
</div>
{% endblock %}
